.info-area {
  max-width: 768px;
}
.info-item {
  border-bottom: solid 1px #0000001a;
  margin-bottom: 40px;
  padding-bottom: 6px;
}

.info-item h5 {
  margin-bottom: 15px;
}

:host ::ng-deep .context-actionbar-wrapper {
  background-color: #ffffff !important;
  height: 80px;
  padding-top: 20px !important;
}

.float-right {
  float: right;
}
